[user]
	name = vodianitsky
	email = vodianitsky@gmail.com
[core]
	editor = nano
	autocrlf = false
	excludesfile = C:\\Users\\Артём\\Documents\\gitignore_global.txt
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p